@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.main-content{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to left, #d9b1da, #e8d6e8);
    font-family: "Roboto", sans-serif;
    align-items: center;
    height: 95vh;
}

.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 2vw;
    text-align: center;
    width: 100%;
}
.form {
    z-index: 1;
    background: #FFFFFF;
    width: 50%;
    margin: 0px auto 3vh;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#inscription-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-item{
    display: flex;
    align-items: baseline;
 }

label{
    width: 25%;
    padding-top: 3.5%;
}

.buttonGroupe{
    display: flex;
    width: 61%;
    margin: 1%;
    justify-content: space-around;
}

button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #863a8d;
    width: 42%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3s;
    cursor: pointer;
}

button:hover,.form button:active,.form button:focus {
    background: #6c0277;
}
